/* Basic styling for the whole page */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #74A12E;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.directory {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.video-list {
  padding-left: 20px;
  list-style-type: none;
}

.video {
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.video i {
  margin-right: 10px;
  font-size: 24px;
}

.video i.youtube {
  color: #FF0000;
  /* YouTube red */
}

.video i.facebook {
  color: #3b5998;
  /* Facebook blue */
}

.video i.other {
  color: #555;
  /* Generic grey for other videos */
}

.book {
  flex: 1;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
}

.book-content {
  width: 100%;
}

.book-pages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.book-page {
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  position: relative;
}

.book-page iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.control-btn {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #74A12E;
  position: fixed;
  width: 100%;
  bottom: 0;
}